.octodex {
  box-sizing: border-box;

}

* {font-family: verdana;
  font-size: small;
  text-weight:bold;
color:lightgray;
border-radius:3px;}


ul{list-style-type:none;
  padding-left:2pt;
}

.octocat{float: left;
margin:5px;
  border-bottom: 2px solid lightgray;
}

.octocat > a > img {

  border-color:lightgray;
  border-style: solid;
  height: 350px;
  width: 350px;
  margin-left: 0px;

  }

.authors a img {
  height:20px;
  width: 18px;
text-decoration: none;}


.authors {float:right;}


.image-caption {float:right;
  padding-top:10px;
  position:relative;
}
.image-number{
  position:absolute;
  top: 10px;
}

.image-number::before {content:"#"}

.image-caption a  {text-decoration:none;
  color:black;
font-weight:bold;
}

.image-footer{clear:none;
  position:relative;

}

.image-footer::before {content: '';
width: 3px;
height: 4px;
border-style: solid;
border-width: 5px 5px 0 5px;
border-color: #d4d4d4 transparent transparent transparent;
float:right;
position:absolute;
left:340px;
bottom:10px;}
