.octodex {
  box-sizing: border-box;

}

* {font-family: verdana;
  font-size: small;
  text-weight:bold;
color:lightgray;
border-radius:3px;}


ul{list-style-type:none;
  padding-left:2pt;
}

.octocat{float: left;
margin:5px;
  border-bottom: 2px solid lightgray;
}

.octocat > a > img {

  border-color:lightgray;
  border-style: solid;
  height: 350px;
  width: 350px;
  margin-left: 0px;

  }

.authors a img {
  height:20px;
  width: 18px;
text-decoration: none;}


.authors {float:right;}

.authors a img {text-decoration: none;}



.image-caption {float:right;
}

.image-caption a  {text-decoration:none;
  color:black;
font-weight:bold;}

.image-footer{clear:none;

}
